@charset "UTF-8";
/* nav */
.top-nav {
  height: 36px;
  background: #f4f4f4;
  width: 100%; }

.top-nav nav {
  width: 1240px;
  height: 36px;
  margin: 0 auto; }

.top-nav nav ul {
  float: right; }

.top-nav nav ul li {
  float: left;
  font-size: 10px;
  color: #666;
  line-height: 36px; }

.top-nav nav ul li a {
  width: auto;
  /* margin-left: 20px; */
  /* float: right; */
  font-size: 12px;
  color: #666;
  padding: 0 10px; }

.top-nav nav p {
  float: left;
  color: #7f7f7f;
  font-size: 12px;
  line-height: 36px; }

.top-nav nav p span {
  float: left; }

.top-nav nav p a {
  width: 24px;
  height: 36px;
  color: #7f7f7f;
  font-size: 12px;
  float: left;
  margin-left: 10px;
  margin-right: 5px; }

.top-nav nav p .a1 {
  background: url(../images/aboutusLink_03.jpg) no-repeat;
  background-position: center; }

.top-nav nav p .a2 {
  background: url(../images/aboutusLink_05.jpg) no-repeat;
  background-position: center; }

.top-nav nav p .a3 {
  background: url(../images/aboutusLink_07.jpg) no-repeat;
  background-position: center; }

/* header */
.header-box {
  height: 110px;
  width: 100%; }

.header {
  width: 1240px;
  margin: 0 auto; }

.header .logo {
  margin-top: 38px;
  float: left; }

.head_in_c {
  overflow: hidden;
  width: 560px;
  padding-left: 140px;
  float: left;
  font-size: 14px;
  color: #666; }

.search {
  display: inline-block;
  overflow: hidden;
  width: auto;
  margin-top: 28px;
  padding-right: 8px;
  text-align: left;
  color: #999;
  vertical-align: top;
  line-height: 21px;
  float: left; }

.search input[type=text] {
  float: left;
  width: 364px;
  min-width: 130px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #ccc;
  background: none;
  text-indent: 8px;
  font-size: 12px;
  border-right: 0;
  outline: none; }

.search input[type=button] {
  float: left;
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  margin-left: -1px;
  background: url(../images/search.jpg) no-repeat center; }

.search a {
  color: #999; }

.shop_car {
  display: block;
  float: left;
  margin-top: 28px;
  overflow: hidden;
  width: 138px;
  height: 38px;
  border: 1px solid #ccc; }

.shop_car a {
  display: block;
  padding-left: 44px;
  color: #666;
  font-size: 16px;
  line-height: 38px;
  text-align: left;
  background: url(../images/shop_car.jpg) no-repeat 7px center; }

.shop_car a span {
  display: inline-block;
  float: right;
  color: #d61818;
  font-size: 16px;
  width: 34px;
  height: 23px;
  line-height: 23px;
  text-align: center;
  margin-top: 7px;
  border-left: 1px solid #ccc; }

/* mainnav */
.navBox {
  height: 45px;
  width: 100%;
  background: #d61818; }

.mainnav {
  width: 1240px;
  height: 45px;
  margin: 0 auto; }

.mainnav > .nav > li > a {
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 45px;
  padding: 0 35px 0 56px;
  color: #fff; }

.mainnav > .nav > li:first-child {
  width: 252px;
  background: #f33c11;
  position: relative; }

.mainnav > .nav > li:first-child:hover .all_class {
  display: block; }

.mainnav > .nav > li:first-child::after {
  top: 16px;
  right: 60px;
  width: 18px;
  height: 18px;
  position: absolute;
  content: "";
  background: url(../images/selectBtn.jpg); }

.mainnav .nav > li {
  float: left;
  height: 45px; }

.mainnav .nav .all_class {
  display: none; }

.mainnav .nav .all_class > ol > li {
  height: 62.5px;
  line-height: 62.5px; }

.mainnav .nav .all_class > ol > li a {
  display: block;
  color: #fff;
  font-size: 18px;
  text-align: center;
  border-bottom: 1px solid #faabab; }

.mainnav .nav .all_class > ol > li a:hover {
  background: #fff;
  color: #d61818; }

.mainnav .nav .all_class > ol {
  width: 252px;
  height: 500px;
  background: #f33c11;
  position: relative;
  z-index: 10; }

.mainnav > .nav > li:first-child .all_class {
  position: relative; }

.mainnav > .nav > li:first-child .all_class .details {
  width: 940px;
  height: 500px;
  display: none;
  position: absolute;
  top: 0;
  /* background:aqua; */
  /* z-index: 100; */
  left: 252px; }

.mainnav > .nav > li:first-child .all_class:hover .details {
  display: block; }

.mainnav .nav .nav_first_li .all_class .details ul {
  width: 940px;
  height: 500px;
  background: white; }

.mainnav .nav .nav_first_li .all_class .details ul li {
  float: left;
  height: 500px;
  width: 190px;
  margin: 0px 10px;
  padding-top: 15px;
  text-align: center; }

.mainnav .nav .nav_first_li .all_class .details .detailImg {
  border: 1px solid #ccc;
  width: 160px;
  height: 140px;
  display: inline-block; }

.mainnav .nav .nav_first_li .all_class .details ul li img {
  width: 160px;
  height: 140px; }

.mainnav .nav .nav_first_li .all_class .details ul li h4 {
  font-size: 26px;
  width: 162px;
  height: 40px;
  color: white;
  background: #121286;
  margin-top: -22px;
  margin-left: 14px;
  padding: 0;
  line-height: 40px; }

.mainnav .nav .nav_first_li .all_class .details ul li h5 {
  font-size: 16px;
  color: #666;
  line-height: 50px;
  font-weight: bold; }

.mainnav .nav .nav_first_li .all_class .details ul li b {
  font-size: 14px;
  color: #7f7f7f;
  display: block;
  line-height: 24px; }

/* end nav */
/* banner */
.banner {
  width: 100%;
  height: 500px;
  display: block;
  background-size: cover;
  position: relative; }

.banner .img-box img {
  width: 100%;
  height: 500px;
  display: block;
  position: absolute;
  display: none; }

.banner .img-box img:nth-child(1) {
  display: block; }

.banner .img-btn {
  position: absolute;
  left: 50%;
  margin-left: -80px;
  bottom: 10px;
  width: 150px;
  height: 40px; }

.banner .img-btn li {
  width: 30px;
  font-size: 20px;
  text-align: center;
  border-radius: 40px;
  margin-left: 5px;
  float: left;
  background: black;
  color: white;
  cursor: pointer; }

.banner .img-btn li:nth-child(1) {
  background: red; }

/* end banner */
/* mian */
.main {
  width: 1240px;
  min-height: 350px;
  overflow: hidden;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 20px; }

.idx_top {
  margin: 25px auto;
  overflow: hidden; }

.idx_top ul li {
  width: 308px;
  height: 170px;
  margin-right: 2px;
  background: #666;
  float: left; }

.floor0 {
  overflow: hidden; }

.floor0 .star_single .title5 {
  background: url(www.hasee.net/images/icon_star.png) no-repeat;
  background-size: 22px 22px; }

.title5 {
  height: 44px;
  line-height: 44px;
  margin-top: 25px;
  padding-left: 32px;
  font-size: 20px;
  font-weight: normal;
  color: #333;
  border-bottom: 3px solid #333; }

.star_ul1 {
  overflow: hidden; }

.star_ul1 li {
  float: left;
  position: relative;
  width: 618px;
  height: 308px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc; }

.star_ul1 li:nth-child(2) {
  border-left: 0; }

.star_ul2 li {
  float: left;
  position: relative;
  width: 308px;
  height: 308px;
  overflow: hidden;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc; }

.star_ul1 li img {
  display: block;
  width: 308px;
  height: 308px;
  margin-left: 15px;
  float: left; }

.star_ul2 li img {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 108px 0 0 54px; }

.star_ul1 .star_d1 {
  position: absolute;
  top: 54px;
  right: 20px;
  width: 265px; }

.star_ul2 .star_d2 {
  position: absolute;
  top: 16px;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center; }

.star_ul2 li:nth-child(4) {
  width: 309px;
  border-right: 1px solid #ccc; }

.star_d1 h3 {
  font-size: 30px;
  font-weight: normal;
  color: #000; }

.star_d2 h3 {
  font-size: 18px;
  font-weight: normal;
  color: #000;
  line-height: 36px; }

.star_d1 span {
  color: #d61818;
  font-size: 38px; }

.star_d2 p {
  padding-top: 10px;
  color: #999;
  font-size: 12px;
  line-height: 14px;
  padding-bottom: 6px; }

.star_d2 span {
  display: block;
  color: #d61818;
  font-size: 30px; }

.notebook, .desktop, .system {
  overflow: hidden;
  height: 690px; }

.notebook_l {
  float: left;
  width: 930px;
  height: 618px;
  overflow: hidden; }

.notebook_l ol {
  overflow: hidden; }

.notebook_l ol > li.notebook_li1 {
  width: 619px;
  height: 308px;
  overflow: hidden;
  /* background: #fdfbf1; */
  position: relative; }

.notebook_l > ol > li {
  float: left;
  width: 309px;
  height: 308px;
  overflow: hidden;
  position: relative;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc; }

.notebook_l > ol > li div.spaimg1 img {
  width: 200px;
  height: 200px;
  margin: 108px 0 0 54px; }

.notebook_d1 {
  position: absolute;
  top: 44px;
  right: 16px;
  width: 260px; }

.notebook_d1 h3 {
  font-size: 24px;
  font-weight: normal;
  color: #000;
  line-height: 40px; }

.notebook_d1 h4 {
  font-size: 16px;
  font-weight: normal;
  color: #000;
  line-height: 24px;
  padding-right: 12px; }

.notebook_d1 p {
  line-height: 14px;
  margin: 12px 0; }

.notebook_d1 p {
  line-height: 14px;
  margin: 12px 0; }

.notebook_li1 ol li {
  float: left;
  width: 20px;
  height: 20px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  margin-right: 5px;
  cursor: pointer;
  font-size: 12px;
  background-color: #000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }

.notebook_l li img {
  width: 308px;
  height: 308px;
  margin-left: 15px; }

.notebook_l > ol > li div.spaimg1 img {
  width: 200px;
  height: 200px;
  margin: 108px 0 0 54px; }

.notebook_l .notebook_li1 ul li:nth-child(2) {
  display: none; }

.notebook_li1 ol {
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: 0; }

.notebook_d1 span {
  display: block;
  color: #d61818;
  font-size: 48px;
  text-indent: -8px; }

.notebook_d2 {
  position: absolute;
  top: 12px;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center; }

.notebook_d2 h3 {
  font-size: 18px;
  font-weight: normal;
  color: #000;
  line-height: 36px; }

.notebook_d2 p {
  color: #999;
  font-size: 12px;
  line-height: 14px;
  padding-bottom: 6px; }

.notebook_d2 span {
  display: block;
  color: #d61818;
  font-size: 30px; }

.notebook_r {
  float: left;
  width: 308px;
  height: 617px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc; }

.notebook_r h2 {
  height: 57px;
  line-height: 57px;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  color: #000;
  border-bottom: 1px solid #ccc; }

.notebook_rul li {
  height: 111px;
  border-bottom: 1px dotted #ccc;
  position: relative;
  padding-left: 59px;
  padding-right: 111px;
  /* background: #f6f6f2; */ }

.notebook_rul span {
  position: absolute;
  left: 17px;
  top: 42px;
  display: inline-block;
  font-size: 24px;
  color: #d61818;
  width: 28px;
  height: 28px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #d61818;
  -moz-border-radius: 50%;
  -khtml-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.notebook_rul img {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 111px;
  height: 100%; }

.notebook_rul h3 {
  line-height: 30px;
  padding-top: 10px;
  color: #333;
  font-size: 15px;
  font-weight: normal; }

.notebook_rul h4 {
  line-height: 34px;
  margin-bottom: 4px;
  color: #333;
  font-size: 22px;
  font-weight: normal; }

.notebook_rul p {
  color: #999;
  font-size: 12px; }

/* endmain */
/* footer */
.footerBox {
  width: 100%;
  min-width: 1240px;
  background: #f2f2f2; }

.footerBox .footer {
  width: 1240px;
  margin: 0 auto; }

.footerBox .footer .foot-link {
  width: 100%;
  height: 159px;
  border-bottom: 1px solid #ccc;
  text-align: center; }

.footerBox .footer .foot-link li {
  width: 20%;
  float: left;
  /* margin: 0 auto; */
  overflow: hidden; }

.footerBox .footer .foot-link li img {
  display: block;
  width: 50px;
  height: 50px;
  margin: 30px auto 0; }

.footerBox .footer .foot-link li p {
  font-size: 18px;
  color: #666;
  height: 18px;
  line-height: 18px;
  padding: 25px 0 35px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.footerBox .footer .foot_nav {
  width: 100%;
  overflow: hidden;
  text-align: left;
  padding-top: 40px;
  padding-bottom: 40px; }

.footerBox .footer .foot_nav > li {
  float: left;
  width: 14.3%; }

.foot_nav > li > a {
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  margin: 14px 0;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #666; }

.foot_nav > li:nth-child(2) > a {
  background: url(http://www.hasee.net/images/icon2.png) no-repeat left -172px; }

.foot_nav > li:nth-child(1) > a {
  background: url(http://www.hasee.net/images/icon2.png) no-repeat left 0; }

.foot_nav > li:nth-child(3) > a {
  background: url(http://www.hasee.net/images/icon2.png) no-repeat left -333px; }

.foot_nav > li:nth-child(4) > a {
  background: url(http://www.hasee.net/images/icon2.png) no-repeat left -542px; }

.foot_nav > li:nth-child(5) > a {
  background: url(http://www.hasee.net/images/icon2.png) no-repeat left -716px; }

.foot_nav ol li a {
  display: block;
  font-size: 14px;
  line-height: 30px;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 20px; }

.footerBox .footer .foot_nav > li.ft_nav_li6 {
  width: 28.4%;
  margin-top: 10px; }

.foot_nav li p {
  font-size: 12px;
  line-height: 34px; }

.foot_nav li p * {
  vertical-align: middle;
  color: #666; }

.foot_nav > li b {
  font-size: 18px;
  margin: 0 3px;
  color: #666;
  font-weight: bold; }

.foot_bottom {
  text-align: left;
  height: 20px;
  line-height: 20px;
  color: #999;
  padding: 15px 0 0 0;
  position: relative;
  top: 20px; }

.foot_bottom a {
  padding: 0 10px;
  color: #666; }

.foot_bottom p {
  display: inline;
  padding: 0 10px;
  color: #666; }

.foot_bottom a {
  padding: 0 10px; }

.foot_bottom img {
  position: absolute;
  top: -10px;
  left: 800px; }

/* end footer */
/* 在线客服 1*/
.xiaonengkefu {
  width: 40px;
  height: 40px;
  display: block;
  position: fixed;
  right: 0px;
  top: 50%;
  margin-top: -23px;
  background: url(../images/service_xiaoneng.jpg) no-repeat center center #666;
  background-size: 100%;
  text-indent: -9999px;
  border-radius: 20px;
  cursor: pointer;
  z-index: 9999; }

/* 在线客服2 */
#jiaxin-mcs-fixed-btn {
  clear: both;
  display: none;
  position: fixed;
  width: auto;
  color: #fff;
  cursor: pointer;
  height: auto;
  z-index: 999999; }

#jiaxin-mcs-fixed-btn div {
  clear: both;
  display: block;
  width: 18px;
  padding: 0 10px 10px 10px;
  margin-top: 10px;
  text-align: center;
  overflow-x: hidden;
  line-height: 1.428571429;
  word-break: break-all;
  word-wrap: break-word;
  letter-spacing: 24px; }

#jiaxin-mcs-fixed-btn img {
  clear: both;
  width: 20px;
  height: 20px;
  vertical-align: inherit !important; }

#jiaxin-mcs-fixed-btn p {
  line-height: 21px;
  color: #666; }

/* side left start */
.side {
  display: none;
  position: fixed;
  z-index: 12;
  left: 5px;
  top: 87px;
  width: 56px;
  height: 450px; }

.side li {
  width: 45px;
  height: 45px;
  margin-bottom: 1px;
  line-height: 18px;
  background: #d5d5d5;
  display: table;
  text-align: center; }

.side li a {
  font-size: 12px;
  display: table-cell;
  vertical-align: middle; }

.side li img {
  display: block;
  margin: 0 auto; }

.side li a.cur, .side li a:hover {
  color: #fff;
  background: #666; }

/* side left end */
